body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    color: #FF69B4;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted #800080;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  .job-title {
    color: #999999;
    font-weight: bold;
  }
 
  .Email{
    color: green;
  }
  .Web{
    color: #fb6542;
  }

  
  .contact-box {
    border: 5px solid #800080; 
    padding: 10px; 
    margin-bottom: 20px; 
  }
   